.auth{
    background-color:rgb(247, 164, 56);
    margin-top: 10px;
   
}
.auth p{
    padding: 0 25px 25px 25px;
   
}

.firebase{
    background-color: bisque;
   
}
.firebase p{
    padding: 0 25px 25px 25px;
   
}

.firebase-service{
    background-color: rgb(219, 219, 152);
}

.firebase-service p{
    padding: 0 25px 25px 25px; 
}

.firebase-service p li{
     margin-left: 100px;
}